/* Reset styles for all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set background color for the body */
body {
    background-color: #d9dcd6;
}

/* Styles for the header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
 /* switch div to nav */
.header nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}


.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styles for links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Styles for paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Styles for the hero section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styles for floating elements */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Styles for the content section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styles for the benefits section 
using only one class to make the changes wanted*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd; 
    margin-bottom: 32px;
    padding: 20px;
    color: #ffffff;
}

/* Combining classes that have similar styles */
/* styling individual elements */
.benefits h3 {
    text-align: center;
    
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits p {
    margin-bottom: 32px;
    line-height: 1.5;
}

/* Styles for the main sections */
/* combined the body optimization and used the new tags */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main img {
    max-height: 200px;
}

main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styles for the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
